<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>

        .container {
            max-width: 560px;
        }

        .field-error {
              border-color: #dc3545;
              color: #dc3545;
        }

    </style>
</head>
<script th:inline="javascript">

</script>

<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${itemForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <div>
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}"
                   th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요" required>
            <div class="field-error" th:errors="*{itemName}">
               상품명 오류
            </div>
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <input type="text" id="price" th:field="*{price}"
                   th:errorclass="field-error" class="form-control" placeholder="가격을 입력하세요" required>
            <div class="field-error" th:errors="*{price}">
                가격 오류 메세지
            </div>
        </div>
        <div>
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}"
                   th:errorclass="field-error" class="form-control" placeholder="수량을 입력하세요" required>
            <div class="field-error" th:errors="*{quantity}">
                수량 오류 메세지
            </div>
        </div>
        <div>
            <label for="expirationDate" th:text="#{label.item.expirationDate}">유통기한</label>
            <input type="date" id="expirationDate" th:field="*{expirationDate}"
                   th:errorclass="field-error" class="form-control" pattern="\d{4}-\d{2}-\d{2}" required>
            <div class="field-error" th:errors="*{expirationDate}">
                유통기한 오류 메세지
            </div>
        </div>
        <hr class="my-4"/>
        <!-- switch -->
        <div><label for="open" th:text="#{label.item.open}">판매 여부</label></div>
        <div class="form-check form-switch">
            <div>
                <input class="form-check-input" id="open" name="open" type="checkbox" role="switch">
                <label class="form-check-label" for="open" th:text="#{label.item.switch.open}">판매 오픈</label>
                <input type="hidden" name="_open" value="on"/>
            </div>
        </div>
        <!-- multi checkbox -->
        <div>
            <div><label th:text="#{label.item.channel}">판매 채널</label></div>
            <div th:each="channel : ${channels}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{channels}" th:value="${channel.key}" class="form-check-input">
                <label th:for="${#ids.prev('channels')}" th:text="${channel.value}" class="form-check-label">오프라인 매장</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div><label th:text="#{label.item.type}">보관방법</label></div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline" >
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" th:errorclass="field-error" class="form-check-input" 인>
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">상온</label>
            </div>
            <div class="field-error" th:errors="*{itemType}">
                보관방법 오류 메세지
            </div>
        </div>

        <!-- SELECT -->
        <div>
            <div><label th:text="#{label.item.delivery}">배송 방식</label></div>
            <select th:field="*{delivery}" class="form-select">
                <option value="" th:text="#{item.delivery.basic}">배송 방식을 선택해주세요</option>
                <option th:each="delivery : ${deliveryCodes}" th:value="${delivery.code}" th:text="${delivery.deliveryName}">FAST</option>
            </select>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.add}">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:text="#{button.cancel}"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/stocks/items(page=1, recordSize=#{page.record.size})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>